@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}